.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #f8f9fa;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}


.header img {
  margin-right: 10px;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
  position: relative; /* Add this line to create a new positioning context */
  top: 15%; /* Add this line to move the element down by 50% of its parent's height */
  transform: translateY(-50%); /* Add this line to vertically center the element */
}

.login-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-btn {
  width: 100%;
}

.signup-button {
  margin-top: 10px;
}

.footer {
  margin-top: 20px;
  text-align: center;
}
